* {
  padding: 0 0;
  margin: 0 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #d3d3d3;
}

.header {
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  background-color: #dcdcdc;
}

.box {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
  align-content: space-between;
  margin: auto;
}

.column {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #3d444f;
}
.checked {
  background-color: #ff8c00;
  border: 1px solid #ff4500;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.info-text {
  text-align: center;
}

.select {
  position: absolute;
  z-index: 999;
  bottom: 50px;
  left: 100px;
}
.select label {
  font-size: 20px;
  line-height: 30px;
  margin-left: 10px;
}
.select input {
  width: 20px;
  height: 20px;
}