* {
  padding: 0 0;
  margin: 0 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #d3d3d3;
}

.box {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 350px;
  align-content: space-between;
  margin: auto;
}

.column {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
}
.checked {
  background-color: #ff8c00;
}